@charset "UTF-8";

.service-img {
	
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    background-color: #f0f0f0;
}

body {
    font-family: Arial;
    margin: 20px;
}

nav a {
    margin-right: 15px;
}
